extends layout

block content   

    <!-- MAIN CONTENT -->
    <div class="best-books">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="d-flex justify-content-center">Best Books of 2021</h1>
                    <h4 class="d-flex justify-content-center py-4">According to Good Reads</h4>
                    <!-- All Latest Necklaces -->
                    <div class="new">
                        <div class="container">
                            <div class="row">
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Fiction</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1618329605l/56597885.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Mystery & Thriller</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1628623381l/58744977._SY475_.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Historical Fiction</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1628625865l/58745185._SY475_.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Fantasy</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1602570691l/53138095.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Romance</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1618913179l/54985743.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Science Fiction</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597695864l/54493401.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Horror</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1614275199l/55829194.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Humor</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1597856341l/54305363.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Nonfiction</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1616514130l/55145261.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Memoir & Autobiography</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1601937850l/54814676.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">History & Biography</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1611952534l/43868109.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Graphic Novels & Comics</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1614887007l/57282218.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Poetry</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1612178266l/56914101.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Debut Novel</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1614122544l/57190892._SY475_.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Young Adult Fiction</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1619021348l/57812106._SY475_.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Young Adult Fantasy</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1598133973l/54589790.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="card p-2 m-2">
                                        <div class="card-body">
                                            <h5 class="d-flex justify-content-center">Middle Grade & Children's</h5>
                                        </div>
                                        <img src=https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1622742517l/57094644.jpg class="card-img-top">
                                    </div>
                                </div>
                                
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>